<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itbar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".backend.ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name=".frontend.activities.EnterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ingreso"
            android:label="@string/title_activity_ingreso"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".frontend.ProductDescription"
            android:label="@string/title_activity_product_description"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".frontend.Barcode"
            android:label="@string/title_activity_barcode" >
        </activity>
        <activity
            android:name=".frontend.KioscoMenu"
            android:label="@string/title_activity_kiosco_menu" >
        </activity>
        <activity
            android:name=".frontend.activities.EnterActivity$listOfProducts"
            android:label="@string/title_activity_list_of_products" >
        </activity>
        <activity
            android:name=".frontend.activities.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".frontend.activities.CategoryActivity"
            android:label="@string/title_activity_category" >
        </activity>
        <activity
            android:name=".frontend.activities.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name=".frontend.activities.OrderActivity"
            android:label="@string/title_activity_order" >
        </activity>
        <activity
            android:name=".frontend.activities.ProductOrderActivity"
            android:label="@string/title_activity_product_order" >
        </activity>
    </application>

</manifest>
